In [14]:
#########################################
#          Install  package             #
#########################################

# !pip install pyodbc
#!pip install pandas

Collecting pandas
  Downloading pandas-1.3.0-cp37-cp37m-win_amd64.whl (10.0 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\python_james\anaconda\envs\tibame_class\lib\site-packages (from pandas) (2.8.1)
Collecting pytz>=2017.3
  Using cached pytz-2021.1-py2.py3-none-any.whl (510 kB)
Collecting numpy>=1.17.3
  Downloading numpy-1.21.0-cp37-cp37m-win_amd64.whl (13.9 MB)
Requirement already satisfied: six>=1.5 in c:\python_james\anaconda\envs\tibame_class\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Installing collected packages: pytz, numpy, pandas
Successfully installed numpy-1.21.0 pandas-1.3.0 pytz-2021.1

In [1]:
#########################################
#               package                 #
#########################################
import os
import pyodbc 
import pandas as pd 
import numpy as np

#########################################
#               Function                #
#########################################


def mysql_to_dataframe(query: str, server: str, user: str, password: str, database: str) -> pd.DataFrame:
    connect = 1
    while connect < 6:
        connect_info = pyodbc.connect("DRIVER={MySQL ODBC 8.0 Unicode Driver};" +
                                      f'''SERVER={server}; 
                                          PORT=3306;
                                          DATABASE={database};
                                          UID={user};
                                          PASSWORD={password};
                                          CHARSET=UTF8;'''
                                      )

        try:
            df = pd.read_sql(query, connect_info)
            break
            
        except :

            if connect < 5:
                connect += 1

            else:
                print(f'{query}\nConnect Fail')
                os._exit(0)

    return  df
                    
#########################################
#                Project                #
#########################################

print('Start Project')

sql_query = """
            SELECT  * 
            FROM world.city
            Limit 0, 1000
            """

server = '127.0.0.1'

user = 'Tibame_Class'

password = 'P@ssword'

database = 'world'

df = mysql_to_dataframe(query = sql_query , 
                        server = server,
                        user = user,
                        password = password,
                        database = database)
print(df)

Start Project
       ID            Name CountryCode       District  Population
0       1           Kabul         AFG          Kabol     1780000
1       2        Qandahar         AFG       Qandahar      237500
2       3           Herat         AFG          Herat      186800
3       4  Mazar-e-Sharif         AFG          Balkh      127800
4       5       Amsterdam         NLD  Noord-Holland      731200
..    ...             ...         ...            ...         ...
995   996         Cilegon         IDN      West Java      117000
996   997         Cianjur         IDN      West Java      114300
997   998         Ciparay         IDN      West Java      111500
998   999     Lhokseumawe         IDN           Aceh      109600
999  1000           Taman         IDN      East Java      107000

[1000 rows x 5 columns]